/* COLOR SCHEME:
https://color.adobe.com/Capuccino-Cupcake-color-theme-267576/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20Capuccino%20Cupcake&mode=rgb&rgbvalues=0.509804,0.207843,0.270588,0.862745,0.894118,0.937255,0.858824,0.462745,0.619608,0.301961,0.184314,0.0823529,0.188235,0.141176,0.0784314&swatchOrder=0,1,2,3,4

Dark pink: 823545
Light pink: DB769E
Dark brown: 302414
Light brown: 4D2F15
white: DCE4EF
----------------------------------------------------------------------------------------------------
/*FONTS */
@font-face {
  font-family: ccc-ff;
  src: url('../fonts/ccc.otf') format('opentype')
}

.top {
  height: 50%;
  padding: 20% 10% 0;
  background:#DB769E;
  background-image: url(../res/ccc-sunrise.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.bottom {
  position: relative;
  padding-top: 50px;
  height: 50%;
  text-align: center;
  color: #DCE4EF;
}


.ccc-logoCtr {
  width: 100px;
  height: 100px;
  background: #302414;
  margin: 0px auto;
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
}

.ccc-logo {
  width:200px;
  height:200px;
  margin: 0px auto;
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
}

.contactHeader {
  background:#DB769E;
  background-size:100% auto;
  background-image: url(../res/ccc-header.png);
  margin-bottom:5%;
  top:10%;
}

.contactHeader h1 {
  font-family:'ccc-ff';
  padding: 2% 5%;
  color:#DCE4EF;
}

.ccc-form {
  padding: 0% 10%;
  font-family:'ccc-ff';
}

.ccc-form label {
  font-family:'ccc-ff';
  color: #823545;
  text-align:right;
}

.sendbtn {
  width:50%;
  text-align:center;
  margin-left:50%;
}

.ccc-social {
  padding: 0% 5% 0%;
  font-family:'ccc-ff';
  color:#823545;
}

.ccc-social hr {
  width:80%;
  margin-left: 10%;
}

/* Contact form */

#errors {
    border:solid 1px #823545;
    padding:10px;
    margin:25px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#DB769E no-repeat 405px center;
    display:none;
    color:#DCE4EF;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #7D9100;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#C9DE55 no-repeat 405px center;
    font-weight:bold;
    display:none;
    color: #7D9100;
}
 
#errors.visible, #success.visible {
    display:block;    
}

/* Styles for different Headings */
.headingCenter {
  text-align:center;
  margin:20px;
}

.headingLeft {
  text-align:left;
  margin:20px;
}

.headingRight {
  text-align:right;
  margin:20px;
}

/* Styling Image*/
.centerImg{
  margin: 0 auto;
}

.rightImg{
  right:0px; 
}
/* -------------------------- */

body {
  background-color:#FFFEFC;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.contMarg {
  margin-top:100px;
}

.smallContMarg {
  padding: 20px;
}

.logo-col{
  float: none;
  margin: 75 auto;
  padding: 75 px;
}

.btn-custom { background-color: hsl(195, 79%, 48%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3fbee8", endColorstr="#19aadb"); background-image: -khtml-gradient(linear, left top, left bottom, from(#3fbee8), to(#19aadb)); background-image: -moz-linear-gradient(top, #3fbee8, #19aadb); background-image: -ms-linear-gradient(top, #3fbee8, #19aadb); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fbee8), color-stop(100%, #19aadb)); background-image: -webkit-linear-gradient(top, #3fbee8, #19aadb); background-image: -o-linear-gradient(top, #3fbee8, #19aadb); background-image: linear-gradient(#3fbee8, #19aadb); border-color: #19aadb #19aadb hsl(195, 79%, 45.5%); color: #DCE4EF !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16); -webkit-font-smoothing: antialiased; }

.card { 
  margin:auto; 
  margin-top:5px;
  background-color:#FFFFFF; 
  border-radius:25px; 
  color:#000000; 
  border:1px solid #d8d8d8; 
  padding:10px;
  margin:2px;
  text-align:left; 
  font-size:10pt;
  position:relative; 
  /* decide out of the two below which one you prefer, I like the 0.3, u decide*/ 
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3); 
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15); }

.card h1, h2 {
  font-family:'neoteric';
  color:#1F5C9B;
}

/* Footer stuff */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  margin-top:5px;
  padding-bottom:5px;
  /* Set the fixed height of the footer here */
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
/* Footer END */